*{
    margin: 0;
    padding: 0;
    outline: mone;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: hsl(0, 0%, 94%);
}
.age-calc{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calc-container{
    background: hsl(0, 0%, 94%);
    width: 92%;
    height: 85%;
    box-shadow: 0 14px 25px 14px #5a5a5a38, 0 10px 10px #b4b4b438;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-card{
    position: absolute;
    background: hsl(0, 0%, 100%);
    width: 570px;
    padding: 40px;
    border-radius: 13px 13px 100px 13px;
    box-shadow: 20px 20px 20px #c4c4c438;
}
.calc-card .first-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 76%;
    margin-bottom: 3px;
}
.calc-card form .flex{
    display: flex;
    flex-direction: column;
}
.flex span{
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(0, 1%, 44%);
    margin-bottom: .5rem;
}
.flex input{
    width: 105px;
    height: 47px;
    padding: 20px 15px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 7px;
    color: hsl(0, 0%, 8%);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
    caret-color: hsl(259, 100%, 65%);
    outline: none;
}
.flex input::placeholder{
    color: hsl(0, 1%, 44%);
}
.flex input:focus{
    border-color: hsl(259, 100%, 65%);
    cursor: pointer;
}
.error-section{
    width: 76%;
    display: flex;
    justify-content: space-between;
}
.error-msg{
    font-size: 10px;
    color: hsl(0, 100%, 67%);
}
.button-line{
    display: flex;
}
.button-line button{
    background: hsl(259, 100%, 65%);
    height: 62px;
    width: 62px;
    padding: 7px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}
.line{
    width: 90%;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    height: 1px;
    align-self: center;
}
button img{
    width: 30px;
    height: 30px;
}
.show-result{
    line-height: 4.3rem;
}
.show-result h1{
    font-size: 70px;
    font-weight: 800;
    color: hsl(0, 0%, 8%);
}
.show-result h1 span{
    color: hsl(259, 100%, 65%);
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 80px;
    margin-right: .5rem;
    position: relative;
}
.show-result h1 span.animate{
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1.5rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 1440px) {
    /*.age-calc{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .calc-container{
        background: hsl(0, 0%, 94%);
        width: 92%;
        height: 85%;
        box-shadow: 0 14px 25px 14px #5a5a5a38, 0 10px 10px #b4b4b438;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .calc-card{
        background: hsl(0, 0%, 100%);
        width: 43.5%;
        padding: 40px;
        border-radius: 13px 13px 100px 13px;
        box-shadow: 20px 20px 20px #c4c4c438;
    }
    .calc-card .first-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 76%;
        margin-bottom: 3px;
    }
    .calc-card form .flex{
        display: flex;
        flex-direction: column;
    }
    .flex span{
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        color: hsl(0, 1%, 44%);
        margin-bottom: .5rem;
    }
    .flex input{
        width: 105px;
        height: 47px;
        padding: 20px 15px;
        border: 1px solid hsl(0, 0%, 86%);
        border-radius: 7px;
        color: hsl(0, 0%, 8%);
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 5px;
        cursor: pointer;
        transition: border-color 0.3s;
        caret-color: hsl(259, 100%, 65%);
        outline: none;
    }
    .flex input::placeholder{
        color: hsl(0, 1%, 44%);
    }
    .flex input:focus{
        border-color: hsl(259, 100%, 65%);
        cursor: pointer;
    }
    .error-section{
        display: flex;
        justify-content: space-between;
    }
    .button-line{
        display: flex;
    }
    .button-line button{
        background: hsl(259, 100%, 65%);
        padding: 7px;
        border: none;
        border-radius: 100%;
        cursor: pointer;
    }
    .button-line button:hover{
        background: hsl(0, 0%, 8%);
    }
    .line{
        width: 90%;
        border-bottom: 1px solid hsl(0, 0%, 86%);
        height: 1px;
        align-self: center;
    }
    .show-result{
        line-height: 4.3rem;
    }
    .show-result h1{
        font-size: 70px;
        font-weight: 800;
        color: hsl(0, 0%, 8%);
    }
    .show-result h1 span{
        color: hsl(259, 100%, 65%);
        letter-spacing: 1px;
        font-weight: 800;
        font-size: 80px;
        margin-right: .5rem;
        position: relative;
    }*/
}

@media screen and (max-width: 820px) {
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    .age-calc{
        height: 100vh;
        width: 100%;
    }
    .calc-container{
        width: 100%;
        height: 100%;
    }
    .calc-card{
        background: hsl(0, 0%, 100%);
        position: absolute;
        width: 350px;
        height: 480px;
        padding: 45px 25px;
        border-radius: 24px 24px 100px 24px;
    }
    .calc-card .first-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3px;
    }
    .calc-card form .flex{
        display: flex;
        flex-direction: column;
    }
    .flex span{
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        color: hsl(0, 1%, 44%);
        margin-bottom: .5rem;
    }
    .flex input{
        width: 88px;
        height: 47px;
        padding: 25px 10px;
        color: hsl(0, 0%, 8%);
        font-weight: 800;
        letter-spacing: 1px;
    }
    .error-section{
        display: flex;
        justify-content: space-between;
    }
    .error-msg{
        margin-bottom: 50px;
        text-align: center;
    }
    .button-line{
        position: relative;
    }
    .button-line button{
        padding: 7px;
        border: none;
        position: absolute;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        cursor: pointer;
    }
    .button-line .line{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    .show-result{
        line-height: 3.5rem;
        margin-top: 3.7rem;
    }
    .show-result h1{
        font-size: 53px;
        font-weight: 800;
        color: hsl(0, 0%, 8%);
    }
    .show-result h1 span{
        color: hsl(259, 100%, 65%);
        letter-spacing: 1px;
        font-weight: 800;
        font-size: 60px;
        margin-right: .5rem;
    }
}

@media screen and (max-width: 375px) {
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    .age-calc{
        height: 100vh;
        width: 100%;
    }
    .calc-container{
        width: 100%;
        height: 100%;
    }
    .calc-card{
        background: hsl(0, 0%, 100%);
        width: 92%;
        height: 460px;
        padding: 45px 25px;
        border-radius: 24px 24px 100px 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .calc-card .first-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3px;
    }
    .calc-card form .flex{
        display: flex;
        flex-direction: column;
    }
    .flex span{
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        color: hsl(0, 1%, 44%);
        margin-bottom: .5rem;
    }
    .flex input{
        width: 88px;
        height: 47px;
        padding: 25px 10px;
        color: hsl(0, 0%, 8%);
        font-weight: 800;
        letter-spacing: 1px;
    }
    .error-section{
        display: flex;
        justify-content: space-between;
    }
    .error-msg{
        margin-bottom: 55px;
        text-align: center;
    }
    .button-line{
        position: relative;
    }
    .button-line button{
        padding: 7px;
        border: none;
        position: absolute;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
    .button-line .line{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    button img{
        width: 25px;
        height: 25px;
    }
    .show-result{
        line-height: 4rem;
        margin-top: 3rem;
    }
    .show-result h1{
        font-size: 53px;
        font-weight: 800;
        color: hsl(0, 0%, 8%);
    }
    .show-result h1 span{
        color: hsl(259, 100%, 65%);
        letter-spacing: 1px;
        font-weight: 800;
        font-size: 60px;
        margin-right: .5rem;
    }
}

@media screen and (max-width: 280px) {
    .calc-card{
        background: hsl(0, 0%, 100%);
        position: absolute;
        width: 250px;
        height: 350px;
        padding: 35px 25px;
        border-radius: 24px 24px 100px 24px;
    }
    .flex span{
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        color: hsl(0, 1%, 44%);
        margin-bottom: .5rem;
    }
    .flex input{
        width: 60px;
        height: 47px;
        padding: 25px 10px;
        color: hsl(0, 0%, 8%);
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 17px;
    }
    .error-section{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .error-msg{
        margin-bottom: 40px;
        text-align: center;
    }
    .button-line .line{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
    }
    .show-result{
        line-height: 2rem;
        margin-top: 3rem;
    }
    .show-result h1{
        font-size: 30px;
        font-weight: 800;
        color: hsl(0, 0%, 8%);
    }
    .show-result h1 span{
        color: hsl(259, 100%, 65%);
        letter-spacing: 1px;
        font-weight: 800;
        font-size: 35px;
        margin-right: .5rem;
    }
}